@model BNTU_fond.Models.Auditory
@{
    ViewBag.Title = "Delete auditory";
}

<div class="header text-center">
    <h2>Are you sure you want to delete this auditory "@Model.AuditoryNum" ?</h2>
</div>

@using (Html.BeginForm())
{
    <div class="body">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.FloorId)

        <div class="d-flex justify-content-between">
            <input type="submit" value="Delete" class="btn btn-danger" />
            @Html.ActionLink("Back to List", "Index", "Auditory", new { id = Model.FloorId }, new { @class = "btn btn-light" })
        </div>
    </div>
}